* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body {
  height: 200vh;
  width: auto;
  background-color: black;
}

/* Animations */
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes movefromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes expand {
  100% {
    transform: scale(20);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(200%);
  }
  80% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
/*  */

.fixed-img {
  z-index: 10000;
  position: fixed;
  right: 3%;
  top: 10%;
}
.fixed-img-2 {
  border-radius: 10px;
  height: 9rem;
  /* opacity: 0.8; */
  animation: moveFromRight 1s ease-in;
  right: 10%;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1.5);
  cursor: pointer;
  transform: translateX();
}
.fixed-img-2:hover {
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.fixed-img-2:active {
  transform: translate(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.display-para {
  display: none;
}
.fixed-para {
  background-color: white;
  padding: 4rem 2rem;
  border-radius: 30px;
  width: 100rem;
  right: 50%;
  position: fixed;
  z-index: 110000;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  letter-spacing: 0.2rem;
  line-height: 7rem;
  outline: none;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease-in;
}
.close-button {
  position: absolute;
  cursor: pointer;
  background: none;
  top: 0.5rem;
  right: 1.8rem;
  font-size: 4rem;
  color: #333;
  border: none;
}
.close-button:hover {
  color: rgb(148, 148, 148);
  transition: all 0.3s ease-in;
}
.close-button-white {
  position: absolute;
  cursor: pointer;
  background: none;
  top: 0.5rem;
  right: 1.8rem;
  font-size: 4rem;
  color: white;
  border: none;
}
.sign-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.sign-button:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.sign-button:focus {
  outline: none;
}

.fixed-para p {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 65, 65, 0.6);
  backdrop-filter: blur(8px);
  z-index: 9999;
}
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 76rem;

  background-image: linear-gradient(
      to left top,
      rgba(251, 0, 255, 0.5),
      rgba(17, 0, 255, 0.5)
    ),
    url(imgs/headerImg2.jpg);

  background-size: 100%;
  margin: 1rem 1rem 0 1rem;
  background-repeat: no-repeat;
}

.main-header h1 {
  color: rgb(216, 216, 216);
  text-align: center;
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 2rem;
  margin-bottom: 2rem;
  animation: moveFromLeft 1s ease-in;
}
.main-header h2 {
  color: rgb(216, 216, 216);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  animation: moveFromRight 1s ease-in;
  text-align: center;
}
.description-section {
  height: 140rem;
  background-color: rgb(0, 0, 0);

  background-image: linear-gradient(
      to left top,
      rgba(251, 0, 255, 0.5),
      rgba(17, 0, 255, 0.5)
    ),
    url(imgs/galaxy-3608029.jpg);
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
.mid-header {
  padding: 5rem;
  background-color: black;
}
.mid-header h2 {
  animation: movefromBottom 1s ease-in;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
}

.card-demensions img {
  border-radius: 10px;
}

.card {
  width: 22rem;
  perspective: 50em;
  position: relative;
}

.card-info {
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1.5);
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 99999999999999999999;
}
.overlay-background {
  background-image: radial-gradient(
    rgba(251, 0, 255, 0.6),
    rgba(17, 0, 255, 0.6)
  );
  width: 100%;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  height: auto;
  opacity: 0;
  transition: transform 2s cubic-bezier(0.86, 0, 0.07, 1);
}

.scale {
  transform: scale(6);
  opacity: 1;
}
.opacity {
  display: none;
}
.card-front,
.card-back {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-front img,
.card-back img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.card-back {
  transform: rotateY(180deg);
}

.rotate-animation {
  animation: rotate 0.4s linear 3;
}
.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 8rem;
  margin-top: 5rem;
  height: 100rem;
}
.overlay-popup {
  position: fixed;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  z-index: 3000000000001;
  animation: fadeIn 0.8s ease-in 2.5s;
  animation-fill-mode: backwards;
}
.aquarius-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(2, 192, 221, 0.3),
      rgba(0, 255, 102, 0.3)
    ),
    url(imgs/AQUARIUS-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.aquarius-para strong {
  font-size: 2.5rem;
}
.aquarius-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  z-index: 5000000000001;
}
.aquarius-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 9% auto;
  list-style: none;
}
.aquarius-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.pisces-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(2, 60, 221, 0.3),
      rgba(195, 0, 255, 0.3)
    ),
    url(imgs/PISCIS-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.pisces-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.pisces-para strong {
  font-size: 2.5rem;
}
.pisces-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 8% auto;
  list-style: none;
  opacity: 0.7;
}
.pisces-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.aries-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(221, 2, 71, 0.3),
      rgba(255, 0, 255, 0.3)
    ),
    url(imgs/ARIES-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.aries-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.aries-para strong {
  font-size: 2.5rem;
}
.aries-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 7% auto;
  list-style: none;
  opacity: 0.7;
}
.aries-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.taurus-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(221, 126, 2, 0.3),
      rgba(251, 255, 0, 0.3)
    ),
    url(imgs/TAURUS-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.taurus-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.taurus-para strong {
  font-size: 2.5rem;
}
.taurus-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 8% auto;
  list-style: none;
  opacity: 0.7;
}
.taurus-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.gemini-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(79, 2, 221, 0.3),
      rgba(255, 0, 212, 0.3)
    ),
    url(imgs/GEMINI-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.gemini-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.gemini-para strong {
  font-size: 2.5rem;
}
.gemini-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.gemini-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.cancer-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.3),
      rgba(155, 155, 155, 0.3)
    ),
    url(imgs/CANCER-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.cancer-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.cancer-para strong {
  font-size: 2.5rem;
}
.cancer-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.cancer-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.leo-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(255, 145, 0, 0.3),
      rgba(255, 213, 0, 0.3)
    ),
    url(imgs/LEO-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.leo-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.leo-para strong {
  font-size: 2.5rem;
}
.leo-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.leo-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.virgo-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.3),
      rgba(132, 132, 132, 0.3)
    ),
    url(imgs/VIRGO-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.virgo-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.virgo-para strong {
  font-size: 2.5rem;
}
.virgo-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.virgo-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.libra-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(217, 0, 255, 0.3),
      rgba(255, 0, 247, 0.3)
    ),
    url(imgs/LIBRA-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.libra-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.libra-para strong {
  font-size: 2.5rem;
}
.libra-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.libra-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.scorpio-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 140, 0.3)
    ),
    url(imgs/SCORPIO-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.scorpio-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.scorpio-para strong {
  font-size: 2.5rem;
}
.scorpio-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.scorpio-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.sagittarius-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(13, 0, 255, 0.3),
      rgba(0, 208, 255, 0.3)
    ),
    url(imgs/SAGITTARIUS-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.sagittarius-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.sagittarius-para strong {
  font-size: 2.5rem;
}
.sagittarius-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.sagittarius-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.capricon-para {
  background-color: white;
  height: 60rem;
  width: 90rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30rem;
  margin-left: -45rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
  z-index: 2000000000000;
  animation: moveUp 0.5s ease-in 1s;
  animation-fill-mode: backwards;
  background-image: linear-gradient(
      to left top,
      rgba(253, 253, 253, 0.3),
      rgba(193, 193, 193, 0.3)
    ),
    url(imgs/CAPRICORN-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.capricon-para h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
  border-bottom: 1px white solid;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.capricon-para strong {
  font-size: 2.5rem;
}
.capricon-para ul {
  text-align: center;
  color: white;
  width: 80rem;
  display: block;
  margin: 6% auto;
  list-style: none;
  opacity: 0.7;
}
.capricon-para ul li {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
footer {
  background-color: black;
  height: 50rem;
}
footer img {
  border-radius: 10px;
  margin: 5rem auto;
  display: block;
  height: 12rem;
  border: 1px solid white;
  padding: 1rem;
}
footer h2 {
  color: rgb(216, 216, 216);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.6rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
  width: 70rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}
.footer-text-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.footer-list {
  color: white;
}
.footer-list ul li {
  display: inline-flex;
  padding: 1.5rem;
  font-size: 2rem;
  text-transform: capitalize;
}
.footer-list ul li:hover {
  background-color: white;
  color: black;
  border-radius: 3px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.right-para {
  color: white;
  width: 40rem;
  font-size: 2rem;
}
.hidden_test {
  display: none;
}
.testPara {
  z-index: 10000000000000000000;
  background-color: white;
  position: fixed;
}
.testPara p {
  font-size: 5rem;
  color: black;
}
/*  responsive screen design */

@media (max-width: 1768px) {
  .fixed-img {
    z-index: 10000;
    position: fixed;
    right: 3%;
    top: 10%;
  }
  .fixed-img img {
    border-radius: 10px;
    height: 6rem;
    /* opacity: 0.8; */
    animation: moveFromRight 1s ease-in;
    right: 10%;
  }
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60rem;

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);

    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }
  .mid-header {
    padding: 4rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 3.5rem;
  }
  .description-section {
    height: 115rem;
    background-color: rgb(0, 0, 0);

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 8rem;
    margin-top: 6rem;
  }
  .row img {
    height: 25rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 5rem auto;
    display: block;
    height: 12rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 1.6rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 70rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  .footer-list {
    color: white;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 1.5rem;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 40rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 1480px) {
  .fixed-img {
    z-index: 10000;
    position: fixed;
    right: 2%;
    top: 10%;
  }
  .fixed-img img {
    border-radius: 10px;
    height: 5.5rem;
    /* opacity: 0.8; */
    animation: moveFromRight 1s ease-in;
    right: 10%;
  }
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);

    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }
  .mid-header {
    padding: 4rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5rem;
  }
  .description-section {
    height: 105rem;
    background-color: rgb(0, 0, 0);

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 8rem;
    margin-top: 6rem;
  }
  .row img {
    height: 22rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 5rem auto;
    display: block;
    height: 10rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.6rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 60rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  .footer-list {
    color: white;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 1.5rem;
    font-size: 1.4rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 40rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 1480px) {
  .fixed-img {
    z-index: 10000;
    position: fixed;
    right: 2%;
    top: 10%;
  }
  .fixed-img img {
    border-radius: 10px;
    height: 4.5rem;
    /* opacity: 0.8; */
    animation: moveFromRight 1s ease-in;
    right: 10%;
  }
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);

    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }
  .mid-header {
    padding: 2.5rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
  }
  .description-section {
    height: 85rem;
    background-color: rgb(0, 0, 0);

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  .row img {
    height: 19rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 5rem auto;
    display: block;
    height: 10rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.6rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 60rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  .footer-list {
    color: white;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 1.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 40rem;
    font-size: 1.2rem;
  }
  footer {
    background-color: black;
    height: 40rem;
  }
}

@media (max-width: 1168px) {
  .description-section {
    height: 75rem;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row img {
    height: 16rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 3rem auto;
    display: block;
    height: 7rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1.3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 0.75rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 30rem;
    font-size: 1rem;
  }
  footer {
    background-color: black;
    height: 31rem;
  }
}

@media (max-width: 1025px) {
  .fixed-img {
    z-index: 10000;
    position: fixed;
    right: 3%;
    top: 10%;
  }
  .fixed-img img {
    border-radius: 10px;
    height: 4rem;

    animation: moveFromRight 1s ease-in;
    right: 10%;
  }
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);
    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }
  .mid-header {
    padding: 1.5rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  .description-section {
    height: 71rem;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  .row img {
    height: 15rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 3rem auto;
    display: block;
    height: 7rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 39rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 0.75rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 30rem;
    font-size: 1rem;
  }
  footer {
    background-color: black;
    height: 30rem;
  }
  body {
    height: 190vh;
    width: auto;
    background-color: black;
  }
}

@media (max-width: 920px) {
  .fixed-img {
    z-index: 10000;
    position: fixed;
    right: 3%;
    top: 10%;
  }
  .fixed-img img {
    border-radius: 10px;
    height: 3.5rem;

    animation: moveFromRight 1s ease-in;
    right: 10%;
  }
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);
    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }
  .mid-header {
    padding: 1.5rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  .description-section {
    height: 63rem;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  .row img {
    height: 13rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 3rem auto;
    display: block;
    height: 5rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 35rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 0.75rem;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 30rem;
    font-size: 0.8rem;
  }
  footer {
    background-color: black;
    height: 25rem;
  }
  body {
    height: 150vh;
    width: auto;
    background-color: black;
  }
}
@media (max-width: 855px) {
  .fixed-img {
    z-index: 10000;
    position: fixed;
    right: 3%;
    top: 10%;
  }
  .fixed-img img {
    border-radius: 10px;
    height: 3.5rem;

    animation: moveFromRight 1s ease-in;
    right: 10%;
  }
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 28rem;
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);
    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 0.7rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }

  .mid-header {
    padding: 1.3rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
  .description-section {
    height: 47rem;
    background-color: rgb(0, 0, 0);

    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .row img {
    height: 11rem;
    width: auto;
  }
  footer img {
    border-radius: 10px;
    margin: 3rem auto;
    display: block;
    height: 5rem;
    border: 1px solid white;
    padding: 1rem;
  }
  footer h2 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    width: 32rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 0.75rem;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 25rem;
    font-size: 0.8rem;
  }
  footer {
    background-color: black;
    height: 23rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  body {
    height: 145vh;
    width: auto;
    background-color: black;
  }
}

@media (max-width: 769px) {
  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24rem;
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);
    background-size: 100%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1.4rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 0.7rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }
  .mid-header {
    padding: 1.1rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
  }

  .description-section {
    height: 36rem;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 0.7rem;
    margin-top: 2rem;
  }
  .row img {
    height: 9rem;
    width: auto;
  }
  .card {
    width: 20rem;
    perspective: 50em;
    position: relative;
  }
  .footer-list ul li {
    display: inline-flex;
    padding: 0.75rem;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 25rem;
    font-size: 0.8rem;
  }
  footer {
    background-color: black;
    height: 23rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  body {
    height: 130vh;
    width: auto;
    background-color: black;
  }
}

@media (max-width: 645px) {
  .fixed-img {
    display: none;
  }
  .main-header h1 {
    color: rgb(216, 216, 216);
    text-align: center;
    text-transform: uppercase;
    font-size: 3.3rem;
    letter-spacing: 1.4rem;
    margin-bottom: 2rem;
    animation: moveFromLeft 1s ease-in;
  }
  .main-header h2 {
    color: rgb(216, 216, 216);
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    animation: moveFromRight 1s ease-in;
    text-align: center;
  }

  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24rem;
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/headerImg2.jpg);
    background-size: 150%;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
  }
  .top-margin {
    margin-top: 5rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5.1rem;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 3rem;
  }
  .row img {
    margin-left: auto;
    margin-right: auto;
    height: 18rem;
    width: auto;
  }

  .mid-header {
    padding: 2rem;
    background-color: black;
  }
  .mid-header h2 {
    animation: movefromBottom 1s ease-in;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
  }
  .card {
    width: 18rem;
    perspective: 50em;
    position: relative;
  }
  .description-section {
    height: 143rem;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
        to left top,
        rgba(251, 0, 255, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url(imgs/galaxy-3608029.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .footer-list ul li {
    display: inline-flex;
    padding: 0.4rem;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  .footer-list ul li:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

  .right-para {
    color: white;
    width: 15rem;
    font-size: 0.8rem;
  }
  footer {
    background-color: black;
    height: 30rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  footer img {
    border-radius: 10px;
    margin: 3rem auto;
    display: block;
    height: 8rem;
    border: 1px solid white;
    padding: 1rem;
  }
  body {
    height: 130vh;
    width: auto;
    background-color: black;
  }
}

@media (max-width: 557px) {
  .main-header h1 {
    font-size: 2.5rem;
    letter-spacing: 1.4rem;
    margin-bottom: 2rem;
  }
  .main-header h2 {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  .main-header {
    height: 24rem;
    background-size: cover;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-margin {
    margin-top: 3rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5.1rem;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 3rem;
    justify-items: center;
  }
  .row img {
    margin-left: auto;
    margin-right: auto;
    height: 16rem;
    width: auto;
  }
  .card {
    width: 15rem;
    perspective: 50em;
    position: relative;
  }
  .mid-header {
    padding: 1.5rem;
  }
  .mid-header h2 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
  }

  .description-section {
    height: 128rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .footer-list ul li {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
  .footer-list ul li:hover {
    border-radius: 3px;
    cursor: pointer;
  }

  .right-para {
    width: 12rem;
    font-size: 0.8rem;
  }
  footer {
    height: 30rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  footer img {
    border-radius: 10px;
    margin: 3rem auto;
    height: 5rem;
    padding: 1rem;
  }
  footer h2 {
    font-size: 1rem;
    letter-spacing: 1.3rem;
    margin-bottom: 1.5rem;
    width: 30rem;
    padding-bottom: 2rem;
  }
  body {
    height: 150vh;
  }
}
@media (max-width: 489px) {
  .main-header h1 {
    font-size: 1.8rem;
    letter-spacing: 1.4rem;
    margin-bottom: 2rem;
  }
  .main-header h2 {
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
  }

  .mid-header {
    padding: 1rem;
  }
  .mid-header h2 {
    font-size: 1rem;
  }

  .main-header {
    height: 24rem;
    background-size: cover;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-margin {
    margin-top: 3rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3rem;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 3rem;
    justify-items: center;
  }
  .row img {
    height: 13rem;
  }
  .card {
    width: 11rem;
    perspective: 50em;
    position: relative;
  }

  .description-section {
    height: 103rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .footer-list ul li {
    padding: 0.3rem;
    font-size: 0.6rem;
  }
  .right-para {
    width: 12rem;
    font-size: 0.6rem;
  }
  footer {
    background-color: black;
    height: 19rem;
  }
  .footer-text-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  footer img {
    border-radius: 10px;
    margin: 2rem auto;
    height: 4rem;
    padding: 0.4rem;
  }
  footer h2 {
    font-size: 0.8rem;
    letter-spacing: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    width: 27rem;
    padding-bottom: 1.5rem;
  }
  body {
    height: 130vh;
  }
}

@media (max-width: 419px) {
  .main-header h1 {
    font-size: 1.2rem;
    letter-spacing: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .main-header h2 {
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
    width: 20rem;
  }

  .mid-header {
    padding: 0.8rem;
  }
  .mid-header h2 {
    font-size: 0.8rem;
  }

  .main-header {
    height: 24rem;
    background-size: cover;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-margin {
    margin-top: 3rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5.1rem;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 3rem;
  }
  .row img {
    height: 12rem;
    width: auto;
  }

  .description-section {
    height: 85rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .footer-list ul li {
    padding: 0.3rem;
    font-size: 0.5rem;
  }
  .footer-list ul li:hover {
    border-radius: 3px;
  }

  .right-para {
    width: 9rem;
    font-size: 0.5rem;
  }
  footer {
    height: 18rem;
  }

  footer h2 {
    font-size: 0.5rem;
    letter-spacing: 0.6rem;
    margin-bottom: 1rem;
    width: 16rem;
    padding-bottom: 1.5rem;
  }
  body {
    height: 130vh;
  }
}

@media (max-width: 391px) {
  .footer-list ul li {
    padding: 0.3rem;
    font-size: 0.4rem;
  }
  .footer-list ul li:hover {
    border-radius: 3px;
  }

  .right-para {
    width: 12rem;
    font-size: 0.4rem;
  }
  footer {
    height: 15rem;
  }

  footer h2 {
    font-size: 0.5rem;
    letter-spacing: 0.6rem;
    margin-bottom: 1rem;
    width: 15rem;
    padding-bottom: 1.5rem;
  }
  body {
    height: 130vh;
  }
}

@media (max-width: 391px) {
  .main-header h1 {
    font-size: 1.2rem;
    letter-spacing: 1.4rem;
    margin-bottom: 2rem;
  }
  .main-header h2 {
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
  }

  .mid-header {
    padding: 1rem;
  }
  .mid-header h2 {
    font-size: 1rem;
  }

  .main-header {
    height: 24rem;
    background-size: cover;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-margin {
    margin-top: 3rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5.1rem;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 3rem;
  }
  .row img {
    height: 12rem;
  }

  .description-section {
    height: 103rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .footer-list ul li {
    padding: 0.3rem;
    font-size: 0.5rem;
  }

  .right-para {
    width: 8rem;
    font-size: 0.5rem;
  }
  footer {
    height: 19rem;
  }

  footer img {
    margin: 2rem auto;
    height: 4rem;
    padding: 0.4rem;
  }
  footer h2 {
    font-size: 0.7rem;
    letter-spacing: 0.7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    width: 19rem;
    padding-bottom: 1.5rem;
  }
  body {
    height: 130vh;
  }
}

@media (max-width: 360px) {
  .main-header h1 {
    font-size: 1rem;
    letter-spacing: 1rem;
    margin-bottom: 1.5rem;
  }
  .main-header h2 {
    font-size: 0.4rem;
    letter-spacing: 0.1rem;
    width: 20rem;
  }

  .mid-header {
    padding: 0.6rem;
  }
  .mid-header h2 {
    font-size: 0.6rem;
  }

  .main-header {
    height: 24rem;
    background-size: cover;
    margin: 1rem 1rem 0 1rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-margin {
    margin-top: 2rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-row-gap: 2rem; */
    grid-template-rows: 1fr 1fr;
    width: 100%;
    /* margin-bottom: 2rem; */
  }
  .row img {
    height: 9rem;
  }
  .card {
    width: 9rem;
    perspective: 50em;
    position: relative;
  }

  .description-section {
    height: 75rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }

  .footer-list ul li {
    padding: 0.2rem;
    font-size: 0.5rem;
  }
  .footer-list ul li:hover {
    border-radius: 3px;
  }

  .right-para {
    color: white;
    width: 8rem;
    font-size: 0.5rem;
  }
  footer {
    height: 18rem;
  }

  footer h2 {
    font-size: 0.4rem;
    letter-spacing: 0.8rem;
    margin-bottom: 1rem;
    width: 17rem;
    padding-bottom: 1.5rem;
  }
  body {
    height: 128vh;
  }
}
@media (max-width: 294px) {
  .card {
    width: 6rem;
    perspective: 50em;
    position: relative;
  }
  .footer-list ul li {
    padding: 0.2rem;
    font-size: 0.4rem;
  }
  .footer-list ul li:hover {
    border-radius: 3px;
  }

  .right-para {
    width: 6rem;
    font-size: 0.4rem;
  }
  footer {
    height: 16rem;
  }

  footer h2 {
    font-size: 0.4rem;
    letter-spacing: 0.6rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    width: 14rem;
    padding-bottom: 1.3rem;
  }
}

@media (max-width: 280px) {
  .main-header h1 {
    font-size: 0.8rem;
    letter-spacing: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .main-header h2 {
    font-size: 0.4rem;
    letter-spacing: 0.1rem;
    width: 20rem;
  }

  .main-header {
    height: 24rem;
    margin: 1rem 1rem 0 1rem;
  }
  .top-margin {
    margin-top: 2rem;
  }
  .row {
    grid-row-gap: 2.8rem;

    margin-bottom: 1rem;
  }
  .row img {
    height: 7rem;
  }
  .card {
    width: 5rem;
    perspective: 50em;
    position: relative;
  }
  .description-section {
    height: 61rem;
    margin: 0 1rem;
  }
}
